{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RTDatabase</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="heading">Roman Temple Database</h1>
    <form method="get" action="{% url 'index' %}">
        <input type="text" name="q" placeholder="Szukaj świątyni..." value="{{ query }}">
        <button type="submit">Szukaj</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for row in page_obj %}
                <tr onclick="goToDetailPage({{ row.id }})">
                    <td>{{ row.id }}</td>
                    <td><a href="{% url 'temple_detail' row.id %}">{{ row.name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1{% if query %}&q={{ query }}{% endif %}">&laquo; pierwsza</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">poprzednia</a>
            {% endif %}

            <span class="current">
                Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}">następna</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}">ostatnia &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>
</html>
